/* General Styles */
body {
    font-family: 'Inria Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.title {
    max-width: 66.66vw;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    font-size: large;
}

.container {
    max-width: 66.66vw;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1, h2, h4 {
    color: #333;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.lock-icon {
    width: 36px;
    height: 36px;
    margin-left: 10px;
    vertical-align: middle;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
    margin: 10px 0;
    list-style-type: disc;
}

ul li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    text-align: center;
}

td {
    padding: 10px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #1B1B3A;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

a.button:hover {
    background-color: #29297b;
}

@media (max-width: 768px) {
    .container {
        max-width: 90vw;
    }
}
